@import '../../assets/style/mixin';
/* @describe: 登录样式
 * @author: 上官靖宇
 * @date: 2021/9/9 16:48
 */
@imageUrl: './image';
.login {
  width: percentage(1);
  height: percentage(1);
  position: relative;
  background: url("@{imageUrl}/login-bg.jpg") no-repeat center;
  background-size: cover;
  &-header {
    position: absolute;
    top: 0;
    left: 0;
    width: percentage(1);
    height: 80px;
    text-align: center;
    background-color: rgba(0,0,0,.6);
    &_title {
      color: @colorWhite !important;
      margin-bottom: 0 !important;
      line-height: 80px !important;
    }
  }
  &-content {
    position: absolute;
    width: 550px;
    height: 450px;
    background-color: @colorWhite;
    padding: 15px 35px;
    .bd-radius(10px);
    //.center-v-position(550px, 450px); // 这种兼容性强
    .center-v-transform();
    &_title {
      margin-top: 25px;
      padding: 10px 0;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    &_form {
      width: 60%;
      margin: 35px auto 0;
    }
    .login-form-forgot {
      float: right;
    }
    .login-form-remember {
      float: left !important;
    }
  }
}
